name: Setup Database
on: [workflow_dispatch]

jobs:
  db-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Install Dependencies
        run: |
          # Installing from root to ensure all workspace tools are available
          npm install --legacy-peer-deps
      - name: Push Schema to Supabase
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          # Pointing to the specific path inside the src folder
          npx prisma db push --schema=apps/api/src/prisma/schema.prisma
